@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    color: black; 
}

body {
    background-color: #ffffff;
}

.container {
    width: 100%;
    margin-bottom: 50px auto;
    padding-bottom: 50px;
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.menu {
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    width: 100% !important;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    position: center; 
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
}

.menu__list-item {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.menu__link:hover {
    color: #141B45;
    border-bottom: 4px solid #141B45; 
    font-weight: bold 70%; 
    transition: 100ms; 
}

.menu__link:hover span{
    font-weight:bold;
}

/* .menu__link--active {
    color: #0d0d5e;
    font-weight: 700;
} */

.menu__logo {
    text-indent: -9999999px;
    display: inline-block;
    height: 100%;
    width: 150px;
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.menu__search-button {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #c8c9ce;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__search-form {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: white;
}

.menu__search-input {
    outline: none;
    border: 1px solid #c8c9ce;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
}

.chart {
  height:50%; 
  width:50%; 
  padding:100px; 
}

.logo { 
    padding: 10px; 
    margin: 10px; 
    margin-bottom: 20px; 
}


#Cards { 
    margin: 25px 0; 
    padding: 20px; 
    margin-bottom:30px; 
}

.dates {
    padding: 300px; 
    margin: 300px; 
    display:inline-flex; 
    border-spacing: 10px; 
}

#recommendationsText {
    text-align: left;
    font-weight: 500;
    margin-left: 10%;
    color: #141B45;
}

#line { 
    margin-bottom: 30px;  
}

#card1, #card2, #card3, #card4, #card5 { 
    margin: 1% 1% !important; 
}

a {
    text-decoration: none;
    color: #141B45 !important; 
}

.featureButtons { 
    position: center !important; 
    color: #141B45 !important; 
    align-self: center;
}

.features { 
    background-color: #141B45;
}

.featText { 
    color: white !important; 
}

.featTextHeader { 
    font-weight: bold; 
    color: white; 
    padding-bottom: 15px; 
}

.featuresGrid { 
    margin: 30px !important; 
}

.MuiGrid-spacing-xs-3 {
    margin: 0px !important;
}

#ChartData { 
    height: 450px; 
    width: 90%; 
    text-align: left; 
    background-color: #fff !important; 
    color: #151b46; 
    margin: 20px 60px !important;
}

#heading{ 
    text-align: center !important ; 
}

.chartbuttons {
    background-color:rgba(21, 28, 67, 1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.chartDataLine { 
    color:#666666 !important; 
}

.MuiPaper-root {
    margin: 0% 0% 0% 0% !important;
}

#alltimeavg {
    height: 75px;
    width: 300px;
    background-color: #89CFF0;
}

#alltimehigh {
    height: 75px;
    width: 300px;
    background-color: #E1A18E;
}

#alltimelow {
    height: 75px;
    width: 300px;
    background-color: #cae7c1;
}

#alltimebody {
    height: 125px;
    width: 300px;
    background-color: white;
    justify-content: center;
    margin: auto;
    font-size: 30px;
}

#button1 { 
    margin: 20px 20px; 
}

#button2 { 
    margin: 20px 20px; 
}

#demo-simple-select { 
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#country-input {
    text-align: left;
    margin: 1% 0 0 0;
}

#continue-button {
    margin: 5% 0 5% 0;
}

.MuiPaper-root {
    margin-left: 1% !important;
    margin-top: 1% !important; 
}

#country-select {
    text-align: left;
    margin-top: 1%;
}

#continue-button {
    margin: 5%;
    background-color: #141B45;
}

#confirm-button {
    margin: 1%;
    background-color: #141B45;
}

#back-button {
    margin: 1%;
}


.wrapper {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.form-wrapper {
width: 50%;
display: flex;
flex-direction: column;
padding: 20px 40px;
border-radius: 10px;
box-shadow: 0px 10px 50px #555;
background-color: #ffffff;
}

form {
width: 100%;
display: flex;
flex-wrap: wrap;
}

h1 {
text-align: center;
width: 100%;
color: #111;
font-weight: lighter;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
font-size: 0.8em;
margin-bottom: 0.25em;
color: #222;
font-weight: lighter;
}

input {
padding: 10px 10px;
border-radius: 5px;
outline: none;
border: 1px solid #cfcfcf;
}

select {
padding: 10px 10px;
border-radius: 5px;
outline: none;
border: 1px solid #cfcfcf;
width:100%; 
margin-bottom: 20px;
}

input::placeholder {
font-size: 1.2em;
font-weight: lighter;
color: #999;
}

input.error {
border: 1px solid red;
}

.errorMessage {
color: red;
font-size: 0.75em;
display: relative;
}

.firstName {
margin-right: 1%;
}

.lastName {
margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password, 
.date, 
.alertPrice {
display: flex;
flex-direction: column;
margin-bottom: 15px;
}

.firstName,
.lastName {
width: 49%;
}

.country, 
.email,
.password, 
.date, 
.alertPrice {
width: 100% !important;
}

.createAccount {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.createAccount button {
background-color: #151B46;
color: #fff;
border: 2px solid #fff;
width: 100%;
margin-top: 1em;
padding: 8px 0px;
font-size: 1em;
font-weight: lighter;
letter-spacing: 1px;
margin-bottom: 0.25em;
}

.createAccount button:hover {
color: #151b46;
background-color: grey;

}

.createAccount small {
color: #999;
font-weight: lighter;
}

#featuresHeader {
    font-weight: 500;
    margin-left: 10%;
    color: #141B45;
}

#formWindow {
    margin: auto;
    margin-bottom: 5%;
}

.marker-btn { 
    background: none; 
    border: none; 
    cursor: pointer; 
}

.marker-btn img { 
    width: 20px; 
    height: 20px;
    margin-left: -10px; 
    margin-top: -20px
}

.marker {
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    position:absolute !important;
    margin-left: -10px; 
    margin-top: -17px; 
}

.popup { 
    max-width: 200px !important; 
    max-height: 200px;
}

.header { 
    font-weight: bolder;
}

.body { 
    font-size: 12px;
}

.value { 
    font-weight: bolder;
    font-size: 12px;
}

#valueUp {
    color: red;
    font-size: large;
}

#valueDown {
    color: rgb(27, 211, 27);
    font-size: large;
}

.legend { 
    margin-left: 20px;
    text-align: left;
    margin-top: 0px;
    width: 120px;
    padding: 10px;
    margin-right: 30px !important;
}

.legendPics{ 
    margin-bottom: -5px;
}