#notif { 
color: rgba(0,0,0,0.5);     
}

#logo { 
    height: 50%; 
    width: 100%; 
}

.featuresExplainer { 
    padding: 30px !important; 
}

#chartHeader {
    font-size: 30px;
    font-weight: 600;
}

#chartHeader2 {
    color:  #141B45;
}

.comparison {
    width: 30%;
    display: table-cell;
}

#comparisonTable {
    display: inline-block;
}

.comparisonRow {
    display: inline-flex;
    justify-content: center;
}

#comparisonLeft1 {
    margin-right: 150px;
}

#comparisonLeft2 {
    margin-right: 162px;
}

#comparisonLeft3 {
    margin-right: 163px;
}

#comparisonRight1 {
    margin-left: 150px;
}

#comparisonRight2 {
    margin-left: 162px;
}

#comparisonRight3 {
    margin-left: 163px;
}

.comparisonCentre {
    width: 100%;
}

#comparisonLeft4 {
    margin-right: 133px;
}

#comparisonLeft5 {
    margin-right: 142px;
}

#comparisonLeft6 {
    margin-right: 143px;
}

#comparisonRight4 {
    margin-left: 133px;
}

#comparisonRight5 {
    margin-left: 142px;
}

#comparisonRight6 {
    margin-left: 143px;
}

html, body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
