#notif { 
color: rgba(0,0,0,0.5);     
}

#logo { 
    height: 50%; 
    width: 100%; 
}

.featuresExplainer { 
    padding: 30px !important; 
}

#chartHeader {
    font-size: 30px;
    font-weight: 600;
}

#chartHeader2 {
    color:  #141B45;
}

.comparison {
    width: 30%;
    display: table-cell;
}

#comparisonTable {
    display: inline-block;
}

.comparisonRow {
    display: inline-flex;
    justify-content: center;
}

.comparisonLeft {
    margin-right: 100%;
}

.comparisonRight {
    margin-left: 100%;
}

.comparisonCentre {
    width: 100%;
}